.element__info-button {
  margin-right: 20px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  border: none;
  background-color: transparent;
  transition: .2s;
  outline: none;
}

.element__info-button:hover {
  opacity: .5;
  cursor: pointer;
}