.element__heart {
  /*margin-right: 20px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  border: none;
  background-color: transparent;
  transition: .2s;
  outline: none;*/

  background-image: url(../../../images/like.svg);
  min-width: 22px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 30px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: 0;
  background-color: white;
}

.element__heart:hover {
  /*opacity: .5;*/
  opacity: 0.6;
  /*cursor: pointer;*/
}